#wrapper{
	width: 1000px;
	margin: 0px auto;
	padding: 15px;
}
#q_wrap{
   margin: 0px auto;
   padding: 15px;
   height: auto;
   margin-right: -130;
   width: 1000px;
   margin-left: 30px;
   
}
.selling {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 800px;
	position: relative;
	
}

.selling-top {
	position: relative;
	width: 40%;
	padding: 1em 30px;
	top: 20.5%;
}

.selling-top h1 {
	font-size: 2.4em;
	font-weight: 600;
	margin: 0;
	color: #000000;
}

.selling-bottom {
	margin-top: 3%;
	width: 900px;
}

.sell-left {
	width: 20%;
	float: left;
	height:20px;
	margin-bottom: 0px;
}

.sell-right {
	
	width: 80%;
	float: right;
	margin-bottom: 0px;
}

.sell-left p {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 1px;
	padding-bottom: 5px;
	padding-top: 5px;
}

select {
	padding: 9px 0px 9px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	color: #9E9E9E;
	background: url(../img/arrow.png) no-repeat 95.5% 58% #fff;
	outline: none;
	border-radius:10px;
	width: 95%;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
}

.sell-one {
	margin-top: 5%;
	padding-bottom: 15px;
}

.sell-one:nth-child(1) {
	margin-top: 2px;
}

.sell-right input[type="text"] {
	width: 95%;
	color: #9E9E9E;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 10px 10px;
	-webkit-appearance: none;
}
.sell-right input[type="radio"]{
	padding-top: 10px;
	margin-top:10px;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	
}
/* #btn{
	margin-left: 600px;
	margin-top: 30px;
	width: 850px;
} */
#smart{
	width:700px;
}
#ir1{
	width:700px;
}
.sell-btn{
	margin-left: 700px;
	margin-top: 30px;
	width: 850px;
}
.sell-btn input[type=submit] {
	padding: 7px 13px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	border: none;
	outline: none;
	size: 20px;
	margin-top: 15px;
	height: 39px;
	color:#FFF;
	background: -webkit-gradient(linear,left top,left bottom,from(#70389C),to(#602D8D));
	background: -moz-linear-gradient(top,#70389C,#602D8D);
	background: -o-linear-gradient(top,#70389C,#602D8D);
	background: -ms-linear-gradient(top,#70389C,#602D8D);
}

.sell-btn input[type=submit]:hover {
	background: #403F45;
	color: #fff;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.sell-btn input[type=button] {
	padding: 7px 13px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	border: none;
	outline: none;
	margin-top: 15px;
	height: 39px;
	color:#FFF;
	background: -webkit-gradient(linear,left top,left bottom,from(#70389C),to(#602D8D));
	background: -moz-linear-gradient(top,#70389C,#602D8D);
	background: -o-linear-gradient(top,#70389C,#602D8D);
	background: -ms-linear-gradient(top,#70389C,#602D8D);
}

.sell-btn input[type=button]:hover {
	background: #403F45;
	color: #fff;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}